@model EmployeAttendenceManagementSystem.Models.Attendance;
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Edit Attendance</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit">
                        <div class="form-group mb-2">
                            <label asp-for="AttendanceId" class="control-label">AttendanceId</label>
                            <input type="number" asp-for="AttendanceId" class="form-control" />
                            <span asp-validation-for="AttendanceId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="EmployeeId" class="control-label">EmployeeId</label>
                            <input type="number" asp-for="EmployeeId" class="form-control" />
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Date" class="control-label">Date</label>
                            <input type="date" asp-for="Date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="CheckInTime" class="control-label">CheckInTime</label>
                            <input type="time" asp-for="CheckInTime" class="form-control" />
                            <span asp-validation-for="CheckInTime" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="CheckOutTime" class="control-label">CheckOutTime</label>
                            <input type="time" asp-for="CheckOutTime" class="form-control" />
                            <span asp-validation-for="CheckOutTime" class="text-danger"></span>
                        </div>
                       
                        <div class="form-group mb-2">
                            <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





